/* Color Palette
 *
 * @package    Mayer/css
 * @since      1.0.0
 *====================================*/

$black:         	#000000;
$off-black:     	#050505;

$accent-blue:   	#575f69;
$dark-blue:     	#2e3138;
$light-blue:    	#cbd2d6;

$dark-gray:     	#b5b5b5;
$light-gray:    	#e3e3e3;
$moderate-gray: 	#626469;

$mayer-blue:    	#80949c;
$mayer-gray:    	#333333;
$mayer-red:     	#895057;
$mayer-dark-gray:	#eeeeee;

$off-white:     	#fcfcfc;
$white:         	#ffffff;